*{
   /* margin-top: 0; */
   padding:0;   
   border: 1px solid red; 
}

body{
   /* background-color:black; */
   background-image: url('snowbackground.avif');
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
canvas{
border: 1px solid black;
width:780px;
height:720px;
background-color: whitesmoke;
justify-content: center;
}

.game-timer {
   position: absolute;
   top: 0;
   left: 50%;
   /* transform: translateX(-50%); */
   font-size: 24px;
   font-weight: bold;
   color: black;
 }
 
 #score {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 24px;
   font-weight: bold;
   color: black;
 }
 

#speed {
   position:absolute;
  }

