*{
   /* margin-top: 0; */
   padding:0;   
   border: 1px solid red; 
}

canvas{
border: 1px solid black;
width:780px;
height:720px;
background-color: pink;
}

#score {
 position:absolute;
}

#speed {
   position:absolute;
  }

body{
   background-color:green;
}